ul{
    list-style-type: none;
    background-color: #333;
    overflow:hidden;
    color:white;
    
}

li{
    float:left;
}

li a{
    display:block;
    color:white; 
    padding:14px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover{
    background-color: lightgreen;
}